configuration{
    modi: "drun,window,ssh,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;    
    display-combi: " 🖥️  All ";
    display-drun: " 🏃  Run ";
    display-window: " 🪟  Window";
    display-ssh: " 🔌 SSH";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
